{% extends("layout.twig") %}
{% block title %}
    Вход в админ-панель
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/login" method="post">
                <div class="form-group text-center">
                    <h4>Вход в админ-панель</h4>
                </div>
                <div class="form-group">
                    <label for="name">Имя пользователя:</label>
                    <input type="text" class="form-control" id="name" name="user">
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group text-danger">
                    {% if error is not empty %}
                        {{ error }}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Вход</button>
            </form>
        </div>
    </div>

{% endblock %}