{% extends("layout.twig") %}
{% block title %}Ошибка{% endblock %}
{% block content %}
<h1>Ошибка!</h1>
<p>При выполнении запроса произошла ошибка</p>
<p>Вернитесь к <a href = "/">списку задач</a> и попробуйте еще раз.</p>
{% endblock %}